.disabled-link{
  pointer-events: none;
}
.income-window{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.income-window > input{
  margin-bottom: 6px;
}
.current-week, .current-week h2{
  border-color: red;
  animation: anim-current-week 4s infinite linear;
}
@keyframes anim-current-week{

  0%{
    border-color: #F00;
  }
  33%{
    border-color: #0F0;
  }
  66%{
    border-color: #00F;
  }
  100%{
    border-color: #F00;
  }

}