.disabled-link{
  pointer-events: none;
}
.income-window{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.income-window > input{
  margin-bottom: 6px;
}
.current-week, .current-week h2{
  animation: anim-current-week 7s infinite linear;
}
@keyframes anim-current-week{

  0%{
    border-color: hsl(0, 100%, 50%);
  }
  17%{
    border-color: hsl(60, 100%, 50%);
  }
  34%{
    border-color: hsl(120, 100%, 50%);
  }
  51%{
    border-color: hsl(180, 100%, 50%);
  }
  67%{
    border-color: hsl(240, 100%, 50%);
  }
  84%{
    border-color: hsl(300, 100%, 50%);
  }
  100%{
    border-color: hsl(360, 100%, 50%);
  }

}