:root{
  color-scheme: dark;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Helvetica, Verdan, Tahoma;
}
main > section{
  margin: auto;
  max-width: 900px;
}
header > div{
  padding: 10px 20px;
}
footer{
  background-color: #111;
}
footer > nav{
  display: flex;
  justify-content: space-around;
  padding: 0 60px;
  flex-wrap: wrap;
  align-items: center;
  min-height: 50px;
  transition: padding 0.3s;
}
footer > nav > a{
  flex-grow: 1;
  padding: 10px 0;
  margin: 0 4px ;
  text-align: center;
  border-radius: 6px;
  background-color: #000;
  transition: background-color 0.3s;
}
footer > nav > a:hover{
  background-color: #333;
}
footer > nav > a:active{
  background-color: #000;
  transition: background-color 0ms;
}

footer > nav > hr{
  height: 40px;
}


footer > label{
  margin: 20px 0;
}
footer > label, footer > div{
  text-align: center;
  display: block;
}
ul{
  padding: 0 0 0 1.5em;
}
header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #111;
  width: 100vw;
}

figure{
  margin: auto;
  text-align: center;
  font-style: italic;
}
.contract-page > p{
  margin: 30px 20px;
}
.circle-bullet{
  list-style-type: circle;
  margin: 0 1.5em;
}

#main-page{
  width: calc(100vw - 2px);
  max-width: 900px;
  margin: auto;
}
#main-page > div{
  color-scheme: dark;
  background-color: black;
  color: white;
}
#main-page > h3{
  background-color: #333;
  color: white;
}

@media screen and (max-width: 610px){
  footer > nav{
    padding: 0;
  }
}