

main, footer, header{
  position: relative;
  z-index: 1;
}
footer{
  text-align: center;
}

.pic-style{
  border-radius: 10px;
  box-shadow: 0 0 10px 4px black;
}
.hidden, .hidden > strong{
  color: red;
  animation: carousel-color 2s infinite;
}
#snail{
  position: fixed;
  top: 55%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  width: 800px;
  opacity: 1;
}
#snail > svg path{
  stroke-dasharray: 1520;
  animation: snailPath 2s infinite;
}
#canvas-style{
  position: fixed;
  top: 0;
  left: 0;
}

@media(prefers-color-scheme: dark){
  *{
    color: white
  }
  body{
    background-color: black;
  }
  .pic-style{
    box-shadow: 0 0 10px 4px white;

  }
}

@keyframes snailPath{
  0%, 100%{
    stroke-dashoffset:1000;
  }
  50%{
    stroke-dashoffset: 0;
  }
}

@keyframes carousel-color {
  100%,0%{
    color: rgb(255,0,0);
  }
  8%{
    color: rgb(255,127,0);
  }
  16%{
    color: rgb(255,255,0);
  }
  25%{
    color: rgb(127,255,0);
  }
  33%{
    color: rgb(0,255,0);
  }
  41%{
    color: rgb(0,255,127);
  }
  50%{
    color: rgb(0,255,255);
  }
  58%{
    color: rgb(0,127,255);
  }
  66%{
    color: rgb(0,0,255);
  }
  75%{
    color: rgb(127,0,255);
  }
  83%{
    color: rgb(255,0,255);
  }
  91%{
    color: rgb(255,0,127);
  }
}