:root{
  color-scheme: dark;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Helvetica, Verdan, Tahoma;
}
main > section{
  margin: auto;
  max-width: 900px;
}

footer{
  background-color: #222;
}
footer > div > a{
  text-decoration: none;
  margin: 0 10px;
}
footer > nav{
  display: flex;
  justify-content: space-around;
  padding: 0 60px;
  flex-wrap: wrap;
  align-items: center;
}
footer > nav > a{
  padding: 30px 0;
}
footer > label{
  margin: 20px 0;
}
footer > label, footer > div{
  text-align: center;
  display: block;
}
ul{
  padding: 0 0 0 1.5em;
}

.contract-page > p{
  margin: 30px 20px;
}
figure{
  margin: auto;
  text-align: center;
  font-style: italic;
  
}
.circle-bullet{
  list-style-type: circle;
  margin: 0 1.5em;
}

#main-page{
  width: calc(100vw - 2px);
  max-width: 900px;
  margin: auto;
}
#main-page > div{
  color-scheme: dark;
  background-color: black;
  color: white;
}
#main-page > h3{
  background-color: #333;
  color: white;
}