*{
  font-family: 'Courier New', Courier, monospace;
}
h1{
  font-family: Georgia, serif;
}
body{
  background-color: #004;
  color: rgb(200,200,255);
}
a{
  text-decoration: none;
  /* color: #AFA; */
  transition: background-color 0.3s;
  border-radius: 10px;
}
a:visited{
  color: #0066cc;
}


@media(prefers-color-scheme: dark){

  body,button{ 
    background-color: black;  
    color: white;
  }
  .pic-style{ box-shadow: 0 0 10px 4px white; }
}